*.tif
*.jpg
*.bmp
*.pdf
*.npy
*.pyc
*.zip
*.lprof
*.cbp
*.so
*.html
*.txt
*.swc
*.xlsx
# do not exclude CMakeLists.txt
!*CMakeLists.txt
!*/CMakeLists.txt
src/python/pymcp3d3.pyx
src/python/pymcp3d.cpp
src/python/pymcp3d3.cpp
src/main.cpp
cmake-build-debug/*
src/.idea/*
python/.idea/*
python/neural_networks/old_data_io/*
python/neural_networks/synthetic_data/*
bin/*
lib/*
src/3rd_party/*
grid_build/*
test_data/*
pipelines/*
mcp3d_venv/*
local_deploy_build/*
